<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TULab</title>

    <link rel="stylesheet" href="/css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="menu">
        <img src="/image/Logo-TULab.svg" alt="Logo-TULab">
    <ul > 
        <li> <a href="/#onas">O nas</a></li>
        <li> <a href="/vybaveni/">Vybavení</a></li>
        <li> <a href="/#kudyknam">Kudy k nám</a></li>
        <li> <a href="/inspirace">Vyrobeno v TULabu </a></li>

    </ul>
</div>

{{ content | safe }}

<footer > 
    <p>© Technická univerzita v Liberci</p> 

</footer>

</body>
</html>